# python caches
**/__pycache__
**/__pycache__/**
*.pyc

# jupyter notebook 
**/.ipynb_checkpoints/
**/.ipynb_checkpoints/**
*.ipynb

# vscode
**/.vscode
**/.vscode/**

# logs
*.txt

# softlinks
data/widerface